body,
html {
  font-family: "Merel";
}
.container {
  max-width: 1360px;
  margin: auto;
}
.container-flex {
  display: flex;
  max-width: 1360px;
  margin: auto;

  &--header {
    @media(max-width: 830px) {
      display: none;
    }
  }

  &--sum {
    justify-content: flex-start;
    padding-top: 50px;
    padding-bottom: 50px;
    border-top: 1px solid $basic-hr-ft-border;
    border-bottom: 1px solid $basic-hr-ft-border;
  }
  
  &--contacts {
    text-align: left;
    
    @media (max-width: 830px) {
      display: block;
      text-align: center;
    }
  }
  
  &--footer-top {
    @media (max-width: 830px) {
      display: block;
    }
  }

  @media (max-width: 830px) {
    flex-direction: column;
  }
}
@media (max-width: 1080px) {
  .container-flex--header {
    justify-content: space-between;
  }
}
@media (max-width: 1360px) {
  .container-flex {
    padding-left: 10px;
    padding-right: 10px;
  }
}

