@mixin list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}
@mixin center-container {
  max-width: 1380px;
  margin: auto;
}
@mixin flex-row {
  display: flex;
  flex-direction: row;
}
@mixin reset-link {
  text-decoration: none;
  color: $basic-font-grey;
}
@mixin link-green {
  display: block;
  width: 286px;
  padding-top: 22px;
  padding-bottom: 20px;
  background-color: $basic-green;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: white;
  font-family: "Merel Bold";
}
@mixin link-black {
  @extend link-green;
  background-color: $basic-black;
}
