$basic-white: #ffffff;
$basic-font-grey: #808080;
$article-background: #f2f5f5;
$basic-green: #03b1a3;
$basic-black: #333333;
$basic-paragraph-grey: #666666;
$basic-hr-border: #d9d9d9;
$basic-hr-ft-border: #484848;
$basic-black-btn: #1a1a1a;
$basic-hover: #f2f5f5;
$basic-slider-btn-bg: #b8bbbf;
$menu-toggle: #4e4e4e;