.nav {
  border-top: 1px solid black;
}
.nav-list {
  @include list-reset;
  display: flex;
  justify-content: center;
}
.nav-list-item {
  margin-left: 9.5%;

  &:first-of-type {
    margin-left: 0;
  }
}
