.article-container {
  flex: 1 1 auto;


  &--center {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
    padding-top: 3.3%;
    padding-left: 6.5%;
    padding-right: 2.5%;
    padding-bottom: 0;

  }

  &:last-of-type:not(.article-container--center) {
    margin-bottom: 0px;
  }

  @media (max-width: 1170px) {
      padding-left: 5%;
      padding-right: 5%;
  }
}
.grid-section__item  .article:last-of-type {
  padding-bottom: 0;
  border: none;
  margin-bottom: 48px;
}
.grid-section__header {
  margin-top: 50px;
  margin-bottom: 27px;
  font-family: "Merel Bold";
  font-size: 24px;
  color: $basic-black;

  &--center {
    flex: 1 1 100%;
    text-align: left;
  }
}
.grid-section--center .grid-section__article {
  flex: 0 1 450px;
  margin-right: auto;

  &:nth-of-type(even) {
    margin-right: 0;
  }
  &:last-of-type {
    border: none;

    @media (max-width: 940px) {
      margin-right: 5px;
    }
  }

  @media (max-width: 1192px) {
    flex: 0 1 49%;
  }
}
.grid-section--center .article-container__link {
  align-self: center;
  flex: 0 0 284px;
  margin-top: 50px;
  margin-right: 200px;

}
.article-container__link {
  @include link-green;
  margin-bottom: 50px;

  @media (max-width: 420px) {
    width: 100%;
  }
}
.grid-section__article {
  padding-top: 19px;
  padding-bottom: 19px;
  border-bottom: 1px solid $basic-hr-border;
  flex: 1 1 50

  &:last-child() {
    border-bottom: 0;
  }
}
