.container-flex--type {
  flex-wrap: nowrap;
  justify-content: space-between;
}
.card-item-ls {
  float: left;
  width: 62.5%;
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
}
.card-item-rs {
  float: right;
  width: 30%;
}
.card-item-info {
  flex: 0 1 414px;
  margin-right: 10px;

  &:last-of-type {
    margin-right: 0;
  }
}
.card-item-info__header {
  padding: 20px 0px;
  background-color: $basic-border-grey;
  text-align: center;
  margin-bottom: 0;
}
.card-item-info-params {
  border: 1px solid $basic-border-grey;
  border-bottom: none;
}
.card-item-info-params-row {
  display: flex;
  border-bottom: 1px solid $basic-border-grey;
}
.card-item-info-params__name {
  flex: 0 0 140px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  color: $basic-font-grey;
}
.card-item-info-params__value {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  padding: 15px 15px;
  text-align: left;
}
.card-item-info-list {
  @include list-reset;
}
.card-item-info-list__item {
  position: relative;
  margin-bottom: 5px;
  padding-left: 10px;
}
.card-item-info-list__item:before {
  position: absolute;
  content: '-';
  left: 0;
  top: 0;
}
.card-item-info-buy {
  border: 1px solid $basic-green;
  display: flex;
  align-items: center;
  padding-left: 10px;

}
.card-item-info-buy__btn {
  margin-left: auto;
  border: none;
  background-color: $basic-green;
  color: #fff;
  text-transform: uppercase;
  padding: 20px 35px;
  font-family: "Merel Bold", Sans-Serif;
}
.card-item-info__old-price {
  font-size: 14px;
  text-decoration: line-through;
  text-decoration-color: $basic-font-grey;
  padding-right: 20px;
}
.card-item__header {
  font-family: "Merel Bold", Arial, Sans-Serif;
  font-size: 24px;
}
.card-item__text {
  font-family: "Merel";
  font-size: 14px;
  color: $basic-font-grey;
}
.card-item__link {
  display: block;
  font-family: "Merel";
  font-size: 14px;
  color: $basic-green;
  text-decoration: none;
  margin-top: 35px;
  margin-bottom: 35px;
}
.card-item-advantages {
  float: right;
  width: 30%;
  background-color: $basic-border-grey;
  padding-left: 36px;
  padding-top: 56px;
  padding-bottom: 56px;
}
.card-item-advantages__header {
  margin-bottom: 50px;
  font-family: "Merel Bold", Arial, Sans-Serif;
  font-size: 21px;
}
.card-item-advantages-list {
  @include list-reset;
}
.card-item-advantages__item {
  position: relative;
  margin-bottom: 35px;
  padding-left: 34px;
}
.card-item-advantages__item:before {
  position: absolute;
  display: block;
  content: '';
  top: 50%;
  left: 0;
  width: 16px;
  height: 16px;
  background-image: url("/img/list-icon.png");
  background-repeat: no-repeat;
  transform: translateY(-50%);
}