.card-slider {
  padding-left: 10px;
  padding-right: 10px;

  @media (max-width: 1024px) {
    padding-top: 30px;
  }
  @media (max-width: 768px) {
    padding-top: 0;
    padding-bottom: 20px;
  }
}
.card-slider__header {
  font-family: "Merel Light", "Arial", sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  color: $basic-black;
  background-color: $basic-border-grey;
  margin: 0;
  padding: 50px 55px;
  margin-bottom: 80px;

  @media (max-width: 460px) {
    padding: 15px 20px;
    font-size: 24px;
  }
}
.card-slider-container {
  position: relative;
}
.container--card {
  max-width: 1473px;
  padding: 0;
  border: 1px solid $basic-green;
  padding-bottom: 80px;
}
.item-img-wrapper {
  float: left;
  margin-right: 20px;
  max-width: 129px;
}
.card-slider-btn {
  position: absolute;
  left: 0;
  top: 50%;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.card-slider-btn--next {
  right: 0;
  left: auto;
}
.chevron-card {
  color: $basic-font-grey;
}
.item-info__header {
  margin: 0;
  margin-bottom: 15px;
  font-family: "Merel light", "Arila", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  color: $basic-black;
}
.card-info-slider {
  position: relative;

  @media (max-width: 460px) {

  }
}
.card-info-slider-video {
  width: 100%;
  height: auto;
}
.card-info-slider-btn {
  display: block;
  background: transparent;
  border: none;
  z-index: 80;
  cursor: pointer;
  color: $basic-font-grey;
  transition: color .3s;
  outline: none;

  &--right {
    right: 10%;
  }
  &--left {
    left: 10%;
  }
  &:hover {
    color: $basic-green;
  }
  &:focus {
   outline: none;
  }
  
  @media (max-width: 460px) {
    position: absolute;
    background-color: rgba(1,1,1,0.3);
    opacity: 0.6;
    height: 30px;
    width: 20px;
    top: 35%;
  }
}
.card-info-slider-btn__next {
  @media (max-width: 460px) {
    right: 0;
  }
}
.card-info-slider-btn__prev {
  @media (max-width: 460px) {
    left: 0;
  }
}
.card-slider-list {
  @include list-reset;
  position: relative;
  padding-left: 40px;
  overflow: hidden;

  @media (max-width: 1024px) {
    padding-left: 10px;
  }
}
.card-info-slider-list {
  flex: 1 1 auto;
  text-align: center;
}
.card-slider-list__img {
  max-width: 100%;
  height: auto;
}
.item-info__text {
  display: block;
  margin-bottom: 15px;
  font-size: 14px;
  color: $basic-font-grey;
}
.card-info-slider-video {
  position: relative;
}
.video-controls {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  outline: none;

  @media (max-width: 460px) {
    bottom: 25%;
  }

  &--hidden {
    visibility: hidden;
    right: -9999px;
    z-index: -100;
  }
}
.video-controls__play {
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}
.video-controls__play:focus {
  outline: none;
}
.item-info__price {
  display: block;
  margin-bottom: 15px;
  font-family: "Merel Bold";
  font-size: 18px;
}
.item-info__link {
  @include reset-link;
  color: $basic-green;
}
.fa-card {
  color: $basic-black;
}
@media (max-width: 768px) {

  .card-slider-list .slick-arrow{
    display: none;
  }
}
@media (max-width: 425px) {
  .card-slider-list .slick-dots {
    bottom: -70px;
    padding-left: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .card-slider-list {
    position: static;
  }
  .card-slider-container {
    position: relative;
  }
}
.card-slider-list-item {
  display: block;

  &:focus {
    outline: none;
  }
}
.card-slider--additional {
  padding-top: 30px;
  padding-bottom: 95px;

  @media (max-width: 460px) {
    padding-bottom: 25px;
  }
}
.card-slider--additional .item-img-wrapper {
  max-width: 100%;
}
.card-slider--additional .card-slider__header {
  background-color: transparent;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  margin-bottom: 60px;
}
.card-slider--additional .card-slider-list {
  overflow: hidden;
}
.card-slider--additional .card-slider-list-item {
  max-width: 317px;
  margin-right: 35px;
  padding-bottom: 23px;
  text-align: center;
  border: 1px solid $basic-border-grey;
}
.card-slider--additional .item-info__header {
  padding-left: 10px;
  padding-right: 10px;
}
.card-slider--additional .item-img-wrapper {
  float: none;
  margin-right: 0;
  margin-bottom: 15px;
}
.card-slider--additional .card-slider-list__img {
  width: 100%;
  height: auto;
}
.card-slider-list--bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
  padding-left: 0;

  @media (max-width: 768px) {
    flex-wrap: wrap;

    & .item {
      margin-bottom: 15px;
    }
  }

  @media (max-width: 460px) {
    flex-direction: column;
    align-items: center;

    & .item {
      width: 100%;
      max-width: 99%;
      margin-right: 0;
    }
  }
}
