.card-info {
  position: relative;
  overflow: hidden;
}
.card-info-wrapper {
  position: relative;
  flex: 0 0 510px;
  background-color: $basic-border-grey;

  &:before {
    position: absolute;
    display: block;
    content: '';
    top: 0;
    bottom: 0;
    right: 99.9%;
    width: 2000px;
    background-color: $basic-border-grey;
  }
  @media (max-width: 768px) {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.card-info__header {
  margin-top: 100px;
  margin-bottom: 70px;
  font-family: "Merel Bold";
  font-size: 49px;
  color: $basic-black;
  text-transform: uppercase;

  @media (max-width: 420px) {
    font-size: 36px;
    margin-top: 50px;
  }
}
.card-info__text {
  width: 80%;
  margin-bottom: 70px;
  font-family: "Merel";
  font-size: 18px;
  line-height: 1.2;
  color: $basic-black;
}
.card-info-slider {
  flex-direction: column;
  justify-content: space-between;
  flex: 0 1 794px;
  padding-top: 90px;
  padding-bottom: 40px;
  align-items: center;
  background-color: $basic-white;

  @media (max-width: 1156px) {
    display: none;
  }
}
.card-info-slider-wrapper {
  margin-bottom: 60px;
  max-height: 422px;
  text-align: center;
}
.card-info-slider-wrapper img {
  max-width: 100%;
  height: auto;
}
.card-info-slider-list {
  @include list-reset;
  display: flex;
  overflow: hidden;
}
.card-info-slider-list__item{
  flex: 1 0 100%;
}
.card-info-slider__img {
  min-width: 70%;
}
.card-info-slider-wrapper {
  width: 100%;
}
.card-info-slider-wrapper__img {
  width: 100%;
}
.card-info-slider-preview {
  @include list-reset;
  display: flex;
  justify-content: center;
  margin-right: 15px;
  margin-left: 15px;

  @media (max-width: 1156px) {
    display: flex;
  }

  @media (max-width: 420px) {
    width: 90%;
  }
}
.card-info-preview-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.card-info-slider-preview-item {
  display: flex;
  width: 40px;
  height: 40px;
  border: 1px solid $basic-hr-border;
  cursor: pointer;
  margin-right: 5px;
  opacity: 0.6;
  align-items: center;
  z-index: 20;

  &--active {
    opacity: 1;
  }
}
.card-info-slider-preview-item img {
  max-width: 100%;
  height: auto;
}
.card-info-slider-list__item {
  display: none;

  &--active {
    display: block;
  }
}
.card-info__link {
  @include link-green;
  width: 240px;
  margin-bottom: 116px;

  @media (max-width: 830px) {
    margin-bottom: 50px;
  }

  @media (max-width: 420px) {
    width: auto;
  }
}