.card-add {
  padding-top: 105px;
  padding-bottom: 105px;
  background-image: url("/img/card-add-bg.png");
  background-repeate: no-repeat;
  background-size: cover;
}
.card-add-part {
  flex: 0 1 50%;
}
.card-add__header {
  margin: 0;
  font-family: "Merel Light";
  font-size: 30px;
  text-transform: uppercase;
}
.card-add__text {
  line-height: 1.5;
  font-size: 16px;
  color: $basic-paragraph-grey;
}
.card-add-remark {
  padding-left: 30px;
  color: $basic-green;
  border-left: 2px solid $basic-green;
}