.card-add {
  padding-top: 105px;
  background-image: url("/img/card-add-bg.png");
  background-repeat: no-repeat;
  background-size: cover;

  @media (max-width: 768px) {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  @media (max-width: 460px) {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}
.card-add-part {
  flex: 0 1 45%;

  &--important {
    flex: 0 1 32%;
    margin-right: 8%;
    margin-top: 111px;
  }
}
.card-add__header {
  margin: 0;
  margin-bottom: 80px;
  font-family: "Merel Light", "Arial", sans-serif;
  font-size: 30px;
  text-transform: uppercase;

  &--additional {
    font-size: 19px;
    margin-top: 67px;
    margin-bottom: 24px;
  }

  @media (max-width: 460px) {
    font-size: 24px;
    margin-bottom: 50px;
  }
}
.card-add__text {
  line-height: 1.5;
  font-size: 16px;
  color: $basic-paragraph-grey;
  width: 42%;

  &--margin-b {
    margin-bottom: 50px;
  }

  @media (max-width: 1021px) {
    width: 100%;
  }
}
.card-add-remark {
  position: relative;
  top: -180px;
  margin-right: 125px;
  padding-left: 30px;
  margin-bottom: 0;
  color: $basic-green;
  border-left: 2px solid $basic-green;
  float: right;
  font-size: 18px;
  max-width: 410px;
  line-height: 1.5;

  @media (max-width: 1021px) {
    position: static;
    float: none;
    width: 100%;
    margin-right: 0;
    padding-left: 10px;
  }

  @media (max-width: 420px) {
    width: auto;
  }
}
.card-add-remark__text {
  margin-bottom: 0;
}
.card-add-remark__header {
  margin-top: 0;
  font-size: 24px;
}
.card-add__text.left {
  position: relative;
  float: right;
  max-width: 568px;
  top: -200px;

  @media (max-width: 1024px) {
    float: none;
    top: 0;
  }
}
