.card-slider {
  padding-top: 121px;
  padding-bottom: 158px;
  padding-left: 10px;
  padding-right: 10px;

  @media (max-width: 768px) {
    padding-top: 40px;
    padding-bottom: 100px;
  }
}
.card-slider__header {
  font-family: "Merel Light";
  font-size: 30px;
  text-transform: uppercase;
  color: $basic-black;
}
.card-slider-container {
  position: relative;
}
.item-img-wrapper {
  float: left;
  margin-right: 10px;
}
.card-slider-btn {
  position: absolute;
  left: 0;
  top: 50%;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.card-slider-btn--next {
  right: 0;
  left: auto;
}
.chevron-card {
  color: $basic-font-grey;
}
.item-info__header {
  margin: 0;
  margin-bottom: 15px;
  font-family: "Merel light";
  font-size: 18px;
  text-transform: uppercase;
  color: $basic-black;
}
.card-info-slider {
  position: relative;
}

.card-info-slider-btn {
  position: absolute;
  bottom: 23%;
  width: 58px;
  height: 58px;
  background: transparent;
  border: none;
  z-index: 80;
  cursor: pointer;
  transition: opacity .2s;

  &--right {
    right: 10%;
  }
  &--left {
    left: 10%;
  }
  &:hover {
  }
}
.card-slider-list {
  @include list-reset;
  position: relative;
  padding-left: 40px;
  overflow: hidden;
}
.card-info-slider-list {
  flex: 1 1 auto;
  text-align: center;
}
.item-info__text {
  display: block;
  margin-bottom: 15px;
  font-size: 14px;
  color: $basic-font-grey;
}
.item-info__price {
  display: block;
  margin-bottom: 15px;
  font-family: "Merel Bold";
  font-size: 18px;
}
.item-info__link {
  @include reset-link;
  color: $basic-green;
}
.fa-card {
  color: $basic-black;
}
@media (max-width: 768px) {
  .card-slider-list {
    padding-left: 0;
  }
  .card-slider-list .slick-slide {
    display: flex;
    justify-content: center;
  }
  .card-slider-list .slick-arrow{
    display: none;
  }
}
@media (max-width: 425px) {
  .card-slider-list .slick-dots {
    bottom: -70px;
    left: 15%;
  }
  .card-slider-list {
    position: static;
  }
  .card-slider-container {
    position: relative;
  }
}
