.card-info {
  position: relative;
  background-color: $basic-hover;
  overflow: hidden;
}
.card-info-wrapper {
  flex: 0 0 510px;

  @media (max-width: 768px) {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.card-info__header {
  margin-top: 100px;
  margin-bottom: 70px;
  font-family: "Merel Bold";
  font-size: 49px;
  color: $basic-black;
  text-transform: uppercase;

  @media (max-width: 420px) {
    font-size: 36px;
    margin-top: 50px;
  }
}
.card-info__text {
  width: 80%;
  margin-bottom: 70px;
  font-family: "Merel";
  font-size: 18px;
  line-height: 1.2;
  color: $basic-black;
}
.card-info-slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  flex: 1 2 auto;
  padding-bottom: 50px;
  align-items: center;
  background-color: $basic-white;

  &:after {
    position: absolute;
    display: block;
    content: '';
    top: 0;
    bottom: 0;
    width: 100%;
    right: -100%;
    background-color: $basic-white;
    z-index: 1;
    
    @media (max-width: 1156px) {
      display: none;
    }
  }
}
.card-info-slider-list {
  @include list-reset;
  display: flex;
  overflow: hidden;

}
.card-info-slider-list__item{
  flex: 1 0 100%;
}
.card-info-slider__img {
  min-width: 70%;
}
.card-info-slider-wrapper {

}
.card-info-slider-wrapper__img {
  width: 100%;
}
.card-info-slider-preview {
  @include list-reset;
  display: flex;
  justify-content: center;


  @media (max-width: 1156px) {
    display: flex;
  }

  @media (max-width: 420px) {
    width: 90%;
  }
}
.card-img--active {
  opacity: 1;
}
.card-info-slider-preview-item {
  width: 40px;
  height: 40px;
  border: 1px solid $basic-hr-border;
  cursor: pointer;
  margin-right: 5px;
}
.card-info-slider-preview-item img {
  position: relative;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.6;
}
.card-info-slider-list__item {
  display: none;

  &--active {
    display: block;
  }
}
.card-info__link {
  @include link-green;
  width: 240px;
  margin-bottom: 116px;

  @media (max-width: 830px) {
    margin-bottom: 50px;
  }

  @media (max-width: 420px) {
    width: auto;
  }
}