.card-download {
  display: flex;
  max-width: 1360px;
  padding-top: 53px;
  padding-bottom: 120px;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;

  @media (max-width: 460px) {
    flex-direction: column;
    padding-top: 25px;
    padding-bottom: 25px;
  }
}
.card-download-tech {
  display: flex;
  flex-wrap: wrap;
  margin-right: auto;
  flex: 0 1 580px;
  align-self: flex-start;

  @media (max-width: 1184px) {
    flex: 0 0 580px;
  }

  @media (max-width: 768px) {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    margin-right: 0;
    width: 100%;
  }
}
.card-download-cert {
  flex: 0 1 454px;
  margin-right: 170px;
  margin-left: auto;

  @media (max-width: 1184px) {
    float: none;
  }

  @media (max-width: 436px) {
    margin-right: 0;
    flex: 1 1 auto;
  }
}
.card-download-tech__header,
.cert__header {
  font-family: "Merel Light";
  font-size: 30px;
  text-transform: uppercase;
  color: $basic-black;

  @media (max-width: 460px) {
    font-size: 24px;
  }
}
.card-download-tech__header {
  flex: 1 1 100%;
}
.cert__header {
  margin-bottom: 55px;
}
.card-download-tech-link {
  text-decoration: none;
  color: $basic-green;
  padding: 15px 0px;
  border: 1px dashed $basic-green;
  border-radius: 5px;
  margin-bottom: 10px;
  text-align: center;
  flex: 0 0 228px;
  margin-right: auto;
  align-self: flex-start;

  @media (max-width: 768px) {
    margin-bottom: 15px;
    margin-right: 0;
    flex: 1 1 100%;
    align-self: auto;

  }
}
.card-download-tech__icon {
  fill: $basic-green;
}
.cert-list {
  @include list-reset;
  @include flex-row;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;

  @media (max-width: 436px) {
    width: auto;
    justify-content: flex-start;
  }
}
.cert-list-item {
  position: relative;
  cursor: pointer;
  margin-right: 15px;

  &:before {
    position: absolute;
    display: block;
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
  }

  &:hover:before {
    display: none;
  }
  &:hover > .cert-list-item__icon {
    opacity: 1;
    transform: scale(1.2);
  }

  img {
    @media (max-width: 436px) {
      width: 100%;
      height: auto;
    }
  }
  @media (max-width: 436px) {
    width: 90px;
  }
}
.cert-list-item__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -16px;
  margin-left: -16px;
  fill: $basic-green;
  opacity: 0.5;
  transition: transform .3s;
}