.descr {
  flex: 0 1 48.5%;
}
.descr__header {
  margin-top: 40px;
  margin-bottom: 45px;
  font-family: "Merel Bold";
  font-size: 24px;
  color: $basic-black-btn;
}
.descr__text {
  width: 80%;
  font-family: "Merel";
  font-size: 14px;
  line-height: 1.4;
  color: $basic-font-grey;

  @media (max-width: 1148px) {
    width: 100%;
  }

  @media (max-width: 900px) {
    width: 100%;
  }
}
