.city {
  position: relative;

  &:hover > .city-dropdown {
    display: flex;
  }
}
.city__header {
  cursor: pointer;
}
.city__header  i{
  position: relative;
  cursor: pointer;
  right: -15px;
  top: -10px;
}
.city-dropdown {
  position: absolute;
  top: 100%;
  left: -50%;
  width: 396px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  border-top: 1px solid $basic-green;
  color: $basic-black;
  background-color: $basic-white;
  z-index: 20;
  display: none;
}
.city-dropdown-item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid $basic-font-grey;

  &:last-of-type {
    border-bottom: none;
  }
}
.city-dropdown-item__adr {
  flex: 1 0 100%;
  margin-bottom: 20px;
  
  & span {
    display: block;
  }

  & span:last-child {
    margin-top: 10px;
    font-family: "Merel";
    text-transform: none;
  }
}
.city-dropdown-item__time {
  font-family: "Merel";
  text-transform: none;
}
.city-dropdown-item__contacts {
  text-transform: none;
  
  & span {
    display: block;
    margin-bottom: 15px;
  }
}
@media (max-width: 1360px) {
  .city-dropdown {
    right: 0;
    left: auto;
  }
}
