.delivery-info-panel {
  @include list-reset;
  display: flex;
  justify-content: center;
  border-bottom: 2px solid $basic-green;

  @media (max-width: 749px) {
    flex-direction: column;
    border-bottom: none;
  }
}
.delivery-info-panel__item {
  padding: 12px 25px;
  color: $basic-font-grey;
  cursor: pointer;

  &--active {
    background-color: $basic-green;
    color: $basic-white;
    font-weight: bold;
  }
}