.contacts {
  padding-top: 65px;
  padding-bottom: 55px;
  background-color: $basic-black;
  color: $basic-white;
}
.contacts-item {

}
.soc-list {
  @include list-reset;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.contacts-socials {
  flex: 0 0 20%;
}
.contacts-socials__slogan {
  font-family: "Merel";
  font-size: 16px;
  color: $basic-green;
  text-transform: uppercase;
}

.contacts-item {
  flex: 0 1 170px;
}
.contacts-item-info {
  font-size: 16px;

  &--time {
    font-family: "Merel";
  }

  &--phone {
    font-family: "Merel Bold";
  }

  &--mail {
    font-family: "Merel Bold";
  }
}
.contacts-item-info__city {
  font-family: "Merel Bold";
  text-transform: uppercase;
}
.contacts-item-info__ads {
  font-family: "Merel";
}
.city-info-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 0 0 75%;
  margin-left: auto;
}
.city-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
