.news {
  display: flex;
  flex-wrap: wrap;
}
.news__header {
  flex: 1 0 100%;
  margin: 0;
  margin-top: 38px;
  font-family: "Merel Light";
  font-size: 30px;
  text-transform: uppercase;
}
.news-article-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin-top: 65px;
  margin-bottom: 28px;

}
.news-block {
  display: flex;
  flex:  0 1 390px;
  flex-direction: row-reverse;
}
.news-block-info__header {
  margin-top: 16px;
  font-family: "Merel";
  font-size: 14px;
  text-transform: uppercase;
}
.news-block-info__text {
  font-family: "Merel Light";
  font-size: 14px;
}
.news-block-date {
  flex: 0 0 112px;
  width: 112px;
  height: 112px;
  background-color: $basic-white;
  font-family: "Merel Light";
  font-size: 16px;
  color: $basic-green;
  text-align: center;
  margin-right: 6%;
}
.news-block-date__number {
  padding-top: 10px;
  font-size: 60px;
}
.news-blcok-date__month {
  font-size: 16px;
}
.news__link {
  @include link-green;
  background-color: transparent;
  border: 1px solid $basic-white;
  align-self: flex-end;
  width: 224px;
  padding-top: 18px;
  padding-bottom: 13px;
}
