.copyright {
  padding-top: 32px;
  padding-bottom: 25px;
  padding-left: 10px;
  background-color: $basic-black;

}
.copyright-text {
  max-width: 1360px;
  margin: auto;
  font-family: "Merel Light";
  color: $basic-font-grey;
}
.copyright-text__name {
  text-transform: uppercase;

  @media (max-width: 830px) {
    font-size: 12px;
  }
}