.sum {
  background-color: $basic-black;
  color: $basic-white;
  
  @media (max-width: 830px) {
    display: none;
  }
}
.sum-block {
  margin-right: 6.8%;
}
.sum-block {
  flex: 0 1 240px;
}
.sum-block__header {
  font-family: "Merel Light";
  text-transform: uppercase;
  font-size: 18px;
  margin-bottom: 50px;
}
.sum-block-list {
  @include list-reset;
}
.sum-block-list-item {
  margin-bottom: 15px;

  &:last-of-type {
    margin-bottom: 0;
  }
}
.sum-block-list-item__link {
  @include reset-link;
  font-family: "Merel Light";
  font-size: 14px;
  transition: color .2s;

  &:hover {
    color: $basic-green;
  }
}
.sum-rest-list {
  @include list-reset;
  flex: 0 1 240px;
  margin-right: auto;
  margin-left:  auto;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
.sum-rest-list-item {
  margin-bottom: 36px;

  &:last-of-type {
    margin-top: auto;
    margin-bottom: 0;
  }

  &:last-of-type .sum-rest-list-item__link {
    text-transform: none;
    color: $basic-font-grey;
    transition: color .3s;

    &:hover {
      color: $basic-green;
    }
  }
}
.sum-rest-list-item__link {
  @include reset-link;
  font-family: "Merel Light";
  font-size: 16px;
  text-transform: uppercase;
  color: $basic-white;
  transition: color .3s;
}
