.news {
  flex: 0 1 794px;
  margin-left:  auto;

  @media (max-width: 478px) {
    width: auto;
  }
}
.news__header {
  flex: 1 0 100%;
  margin: 0;
  margin-top: 38px;
  font-family: "Merel Light";
  font-size: 30px;
  text-transform: uppercase;
}
.news-article-container {
  display: flex;
  flex: 1 1 100%;
  flex-wrap: wrap;
  margin-top: 65px;
  margin-bottom: 28px;
}
.news-block {
  display: flex;
  flex:  1 1 350px;
  flex-direction: flex-start;
  margin-bottom: 15px;

}
.news-block-info__header {
  margin-top: 16px;
  font-family: "Merel";
  font-size: 14px;
  text-transform: uppercase;

  @media(max-width: 830px) {

  }
}
.news-block-info__text {
  font-family: "Merel Light";
  font-size: 14px;

  @media (max-width: 478px) {
    display: none;
  }
}
.news-block-date {
  flex: 0 0 112px;
  width: 112px;
  height: 112px;
  background-color: $basic-white;
  font-family: "Merel Light";
  font-size: 16px;
  color: $basic-green;
  text-align: center;
  margin-right: 6%;

  @media (max-width: 830px) {
    margin-bottom: 10px;
  }

  @media (max-width: 420px) {
    flex: 0 0 76px;
    width: 76px;
    height: 76px;
  }
}
.news-block-date__number {
  padding-top: 10px;
  font-size: 60px;

  @media (max-width: 420px) {
    padding-top: 5px;
    font-size: 36px;
  }
}
.news-blcok-date__month {
  font-size: 16px;

  @media (max-width: 420px) {
    font-size: 14px;
  }
}
.news__link {
  @include link-green;
  background-color: transparent;
  border: 1px solid $basic-white;
  align-self: flex-end;
  margin-top: 53px;
  width: 224px;
  padding-top: 18px;
  padding-bottom: 13px;
  transition: color .3s, background-color .3s, box-shadow .3s;

  &:hover {
    color: $basic-green;
    background-color: $basic-white;
    box-shadow: -3px 3px 61px -11px $basic-white;
  }

  @media (max-width: 420px) {
    width: 100%;
  }
}
