
.callback {
  max-width: 651px;
  padding-top: 52px;
  padding-bottom: 52px;
  background-color: $basic-green;
  color: $basic-white;
  text-align: center;

  @media (max-width: 830px) {
    max-width: 100%;
  }

  &--tablet {
    @media (max-width: 830px) {
      display: none;
    }
  }
}
.category .callback {
  flex: 1 0 auto;
  padding-top: 77px;
}
.callback__text {
  margin-bottom: 40px;
  font-family: "Merel Bold";
  font-size: 24px;
}
.callback__order {
  @include link-green;
  margin: auto;
  background-color: $basic-black;
  transition: box-shadow .3s, color .3s;

  &:hover {
    color: $basic-green;
    box-shadow: -3px 3px 61px -11px $basic-black;
  }
  &:active {
    box-shadow: none;
  }
}

