.grid-nav {
  position: relative;
  display: none;
  flex: 1 1 auto;
  margin-bottom: 10px;
  font-family: "Merel";
  font-size: 16px;
  text-align: left;
  border-top: none;
  border-radius: 5px;
  margin-right: 5px;
  margin-left: 5px;
  border: 1px solid $basic-green;

  &--open {
    border-bottom: none;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  &--open .grid-nav__current-item {
    color: $basic-black;
    border-bottom: 1px solid $basic-font-grey;
  }

  &--open .grid-nav__current-item:after {
    color: $basic-black;
    transform: rotate(180deg) translateY(8px);
  }

  &--category {
    display: block;
    transition: transform .3s;
    width: 300px;

    @media (max-width: 1300px) {
      position: absolute;
      transform: translate(-100%);
      background-color: $basic-white;
    }

    @media (max-width: 830px) {
      position: static;
      transform: translate(0%);
      float: none;
    }
  }

  @media (max-width: 830px) {
    display: block;
  }
  @media (max-width: 420px) {
    text-align: left;
  }
}
.grid-nav__current-item {
  position: relative;
  display: none;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  color: $basic-green;
  padding-left: 10px;

  &:after {
    position: absolute;
    display: block;
    content: "\f0d7";
    font-family: "Font Awesome";
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: $basic-green;
    transition: transform .3s;
  }

  @media (max-width: 830px) {
    display: block;
  }
}
.grid-nav--category .grid-nav-list {
  margin: 0;
  border: 0;
}
.grid-nav--category .grid-nav-list__item {
   display: block;
 }
.grid-nav--open .grid-nav-list__item {
  display: block;
  color: $basic-black;
}

.grid-nav--category:hover {
  @media (max-width: 1300px) {
    transform: translate(0%);
  }
}
.grid-nav--category:after {
  @media (max-width: 1300px) {
    position: absolute;
    display: block;
    content: '';
    width: 25px;
    height: 100px;
    background-color: $basic-font-grey;
    top: 50%;
    margin-top: -50px;
    bottom: 0;
    right: -25px;
  }
  @media (max-width: 830px) {
    display: none;
  }
}
.grid-nav__header {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 1px solid $basic-green;
  border-radius: 5px;
  cursor: pointer;
}
.grid-nav-list {
  @include  list-reset;
  border-radius: 5px;
  display: none;
  overflow: hidden;
  transition: max-height .3s;

  &--open {
    position: absolute;
    display: block;
    display: block;
    top: 100%;
    left: -1px;
    width: 100%;
    margin: 0;
    border: 1px solid $basic-green;
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: $basic-white;
  }
}
.grid-nav-list__item {
  padding-left: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  border-radius: 5px;
  padding-left: 10px;
  transition: background-color .3s, color .3s;

  &:hover {
    background-color: $basic-hover;
    color: $basic-green;
  }

  &--active {
    display: block;
  }
}
.fa--grid {
  padding-left: 10px;
}
.grid-nav--category {
  float: left;
  margin-right: 10px;
  padding: 10px;
  border: 1px solid $basic-green;
  border-radius: 0;

  @media (max-width: 830px) {
    float: none;
    margin: 0;
    padding: 0;
  }

  .grid-nav-list {
    display: block;
    text-align: left;
    padding-left: 1%;
    padding-right: 1%;
  }

  .grid-nav-list__item {
    color: $basic-black;
  }
}
.grid-nav-list i {
  margin-right: 5px;
}
.grid-nav-list__item--sub:hover > i {
  transform: rotate(90deg);
}
.grid-nav-list__item:hover > .grid-nav-list-submenu {
  display: block;
}
.grid-nav-list-submenu {
  display: none;
  list-style: none;
}
.grid-nav-list-submenu__item {
  margin-top: 15px;

  &:hover {

  }
}
.grid-nav--catalog {
  float: left;
  margin-right: 10px;
  padding: 10px;
  border: 1px solid $basic-green;
  border-radius: 0;

  .grid-nav-list {
    display: block;
    text-align: left;
    padding-left: 1%;
    padding-right: 1%;
  }

  .grid-nav-list__item {
    color: $basic-black;
  }
}
.fa--grid-nav {
  visibility: hidden;

  @media (max-width: 1300px) {
    visibility: visible;
    position: absolute;
    right: -23px;
    top: 44%;
    color: $basic-green;
    z-index: 20;
  }
}
.about .aside-nav,
.news-page .aside-nav,
.partners .aside-nav,
.gratitudes .aside-nav,
.job-page .aside-nav,
.details-page .aside-nav,
.geosynt-page .aside-nav,
.geosynt-card .aside-nav,
.walls-page .aside-nav,
.walls-arm .aside-nav,
.tech-page .aside-nav,
.contacts-page .aside-nav{
  margin-top: 50px;
  margin-right: 15px;
  flex: 0 0 300px;
  bottom: auto;
  align-self: flex-start;

  @media (max-width: 830px) {
    flex: 1 1 auto;
    align-self: stretch;
    margin-right: 0;
    margin-left: 0;
    margin-top: 30px;
    background-color: $basic-white;
  }
}
