.callback {
  max-width: 651px;
  padding-top: 52px;
  padding-bottom: 52px;
  background-color: $basic-green;
  color: $basic-white;
  text-align: center;

  @media (max-width: 830px) {
    max-width: 100%;
  }
}
.callback__text {
  margin-bottom: 40px;
  font-family: "Merel Bold";
  font-size: 24px;
}
.callback__order {
  @include link-green;
  margin: auto;
  background-color: $basic-black;

}
