.page-header {
  font-family: "Merel";
  font-size: 14px;
}
//.page-header-wrapper {
//  display: flex;
//  flex-direction: row;
//  max-width: 1350px;
//  margin: auto;
//  padding-top: 9px;
//  padding-bottom: 13px;
//}
.page-header__slogan {
  font-size: 14px;
  color: $basic-font-grey;
  margin-right: auto;
  margin-left: 57px;
}
.page-header-info {
  margin-top: 14px;
  display: flex;
  flex-direction: column;
}
.page-header-phone {
  font-family: "Merel Bold";
  margin-top: 14px;
  margin-left: 34px;
  font-weight: bold;
}
.page-header-city {
  font-family: "Merel Bold";
  margin-top: 14px;
  margin-left: 77px;
  text-align: left;
  text-transform: uppercase;
  color: $basic-green;
}
@media (max-width: 900px) {
  .page-header-info {
    display: none;
  }
}
