.page-header {
  padding-top: 10px;
  font-family: "Merel";
  font-size: 16px;
}
//.page-header-wrapper {
//  display: flex;
//  flex-direction: row;
//  max-width: 1350px;
//  margin: auto;
//  padding-top: 9px;
//  padding-bottom: 13px;
//}
.page-header-logo {
  margin-bottom: 5px;
}
.page-header__slogan {
  font-size: 14px;
  color: $basic-font-grey;
  margin-right: auto;
  margin-left: 57px;
  padding-top: 5px;
}
.page-header-info {
  margin-top: 14px;
  display: flex;
  flex-direction: column;
}
.page-header-phone {
  margin-top: 14px;
  margin-left: 78px;
  font-family: "Merel Bold";
  font-weight: bold;
  text-align: right;
}
.page-header-city {
  margin-top: 14px;
  margin-left: 83px;
  font-family: "Merel Bold";
  text-align: left;
  text-transform: uppercase;
  color: $basic-green;
}
@media (max-width: 1080px) {
  .page-header-top-container > *[class^="page-header"] {
    margin-left: 0;
    margin-right: 0;  
  }

}
@media (max-width: 900px) {
  .page-header-info {
    display: none;
  }
}
