.main-about {
  max-width: 1360px;
  margin: auto;
  margin-top: 78px;
  margin-bottom: 30px;
  text-align: center;

  & input[type="radio"] {
    display: none;
  }
  & input[type="radio"]:checked + .main-about__tab {
    background-color: $basic-green;
    color: $basic-white;
  }
  & input[id="trust"]:checked + .main-about-sliders {
    display: block;
    background-color: red;
    height: 100px;
    width: 100px;
  }
}
.main-about-nav {
  @include list-reset;
  display: flex;
  justify-content: center;

  @media (max-width: 830px) {
    flex-direction: column;
    background-color: $basic-font-grey;
  }
}
.main-about-nav__item {
  margin-right: 15px;
  cursor: pointer;

  &--active {
    background-color: $basic-green;
    color: $basic-white;

    @media (max-width: 830px) {
      background-color: $basic-font-grey;
      color: $basic-black;
    }
  }

  @media (max-width: 830px) {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
.main-about-slider {
  margin-top: 85px;
  display: none;

  &--active {
    display: block;
  }
}
.main-about-slider .slider-list-item__img {
  width: auto;
}
.main-about-slider .slider-btn {
  background: transparent;

  & i {
    color: $basic-font-grey;
  }
}
.main-about-slider .slider-list-item {
  display: flex;
  flex-direction: column;
  flex: 1 0 180px;
}
.slider-list-item__header {
  color: $basic-font-grey;
}
@media (max-width: 830px) {
  .main-about-nav__item:not(.main-about-nav__item--active) {
    display: none;
  }
  
  .main-about-nav--open .main-about-nav__item {
    display: block;
  }
}


