.article-container {
  max-width: 651px;
  padding-top: 23px;
  padding-left: 13%;
  padding-right: 86px;
  padding-bottom: 58px;
  margin-bottom: 58px;
  background-color: $article-background;

  &--center {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
    padding-left: 5%;

  }
}
.article-container  .main-article:last-of-type {
  padding-bottom: 0;
  border: none;
  margin-bottom: 59px;
}
.article-container__header {
  font-family: "Merel Bold";
  font-size: 24px;
  color: $basic-black;

  &--center {
    flex: 1 1 100%;
    text-align: left;
  }
}
.article-container__link {
  @include link-green;
}
.central .article-container__link {
  align-self: center;
}
.main-article {
  padding-top: 19px;
  padding-bottom: 19px;
  border-bottom: 1px solid $basic-hr-border;
}
.central .article-item__header {
  width: 100%;
}
.central .main-article {
  margin-right: auto;
  flex: 0 1 43%;
  &:nth-of-type(even) {
    margin-right: 0;
  }

  &:last-of-type() {
    border-bottom: none;
    background-color: red;
  }
}
.main-article__header {
  text-align: center;
  margin: 0;
}
