.main-about {
  max-width: 1360px;
  margin: auto;
  margin-top: 78px;
  margin-bottom: 30px;
  text-align: center;

  & input[type="radio"] {
    display: none;
  }
  & input[type="radio"]:checked + .main-about__tab {
    background-color: $basic-green;
    color: $basic-white;
  }
  & input[id="trust"]:checked + .main-about-sliders {
    display: block;
    background-color: red;
    height: 100px;
    width: 100px;
  }
}
.main-about__tab {
  display: inline-block;
  padding: 10px 21px 8px 26px;
  font-family: "Merel Light";
  font-size: 18px;
  color: $basic-font-grey;
  cursor: pointer;
  transition: background-color .3s;
}
.main-about__decor {
  height: 2px;
  width: 100%;
  background-color: $basic-green;
}
.main-about-slider {
  margin-top: 85px;
}
.main-about-slider .slider-list-item__img {
  width: auto;
}
.main-about-slider .slider-btn {
  background: transparent;

  & i {
    color: $basic-font-grey;
  }
}
.main-about-slider .slider-list-item {
  min-height: 0;
}

@media (max-width: 768px) {
  .main-about__decor {
    display: none;
  }
  .main-about-nav {
    display: flex;
    flex-direction: column;
    background-color: $basic-font-grey;
  }
  .main-about__tab {
    display: block;
    padding-top: 22px;
    padding-bottom: 22px;
    font-family: "Merel Bold";

  }
  .main-about__tab:not(.main-about__tab--active) {
    display: none;
    color: $basic-black;
  }

  .main-about input[type="radio"]:checked + .main-about__tab {
    background-color: transparent;
    color: $basic-black;
  }
  .main-about:hover > main-about__tab {
    display: block;
  }
}

