.article-container {
  max-width: 651px;
  padding-top: 64px;
  padding-left: 13%;
  padding-right: 8%;
  padding-bottom: 58px;
  margin-bottom: 42px;
  background-color: $article-background;

  &--center {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;

  }
}
.article-container  .main-article:last-of-type {
  padding-bottom: 0;
  border: none;
  margin-bottom: 59px;
}
.article-container__header {
  font-family: "Merel Bold";
  font-size: 24px;
  color: $basic-black;

  &--center {
    flex: 1 1 100%;
  }
}
.article-container__link {
  @include link-green;
}
.main-article {
  padding-top: 19px;
  padding-bottom: 19px;
  border-bottom: 1px solid $basic-hr-border;


}
.main-article__header {
  text-align: center;
  margin: 0;
}
