.page-main {
  max-width: 1360px;
  margin: auto;

  @media (max-width: 420px) {
  }
}
.page-main-grid {
  max-width: 1360px;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (max-width: 830px) {
    display: block;
  }
}
.page-main-grid--category .grid-section--center {
  padding-left: 2.2%;
  padding-right: 2.2%;
}
.page-main__header{
  margin: 0;
  margin-bottom: 93px;
  text-align: center;
  text-transform: uppercase;
  color: $basic-black;
  font-family: "Merel Light";
  font-size: 31px;

  &--catalog {
    margin-top: 50px;
  }

  @media (max-width: 1080px) {
    font-size: 26px;
  }
}
.page-main-grid__section{
  display: flex;
  flex-direction: column;
  flex: 0 1 47.8%;
  margin-bottom: 50px;

  & div:first-child {
    flex: 1 1 auto;
  }

  & div:last-child {
    margin-top: auto;
  }
}
.grid-section {
  @media(max-width: 830px) {
    margin-bottom: 0;
  }
}

.grid-section--center {
  flex: 1 1 100%;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 4%;
  padding-right: 5%;
  background-color: $article-background;

  @media (min-width: 1360px) {
    padding-left: 4%;
    padding-right: 10%;
  }

  @media (max-width: 1192px) {
    padding-left: 1.2%;
    padding-right: 1.2%;
  }

  @media (max-width: 830px) {
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 0;
  }

  @media (max-width: 478px) {
    flex-wrap: nowrap;
  }
}
.grid-section__item{
  padding-left: 8%;
  padding-right: 6%;
  margin-bottom: 48px;
  background-color: $article-background;

  &:last-child {
    margin-bottom: 0;
  }

  @media (max-width: 830px) {
    margin-bottom: 0;
  }

  @media (max-width: 1192px) {
    padding-left: 3%;
    padding-right: 3%;
  }

  @media (max-width: 320px) {
    background-color: $basic-white;
  }
}
.grid-section--category {
  & .grid-section__item {
    padding-left: 5%;
    padding-right: 5%;
  }
}
.grid-section--catalog {
  & .grid-section__item {
    padding-left: 5%;
    padding-right: 5%;
  }
}
@media (max-width: 830px) {
  .grid-section__item {
    display: none;
  }
  .grid-section--center {
    display: none;
  }
  .grid-section__item[nav-label="type1"] {
    display: block;
  }
  .tablet--active {
    display: block;
  }
  .page-main-grid {
    padding: 0;
  }
}

