.main-about {
  max-width: 1360px;
  margin: auto;
  margin-top: 78px;
  margin-bottom: 30px;
  text-align: center;
  overflow: hidden;
  position: relative;

  @media (max-width: 830px) {
    margin-top: 0;
  }
}
.main-about-nav {
  @include list-reset;
  display: flex;
  justify-content: center;
  border-bottom: 2px solid $basic-green;

  @media (max-width: 830px) {
    display: none;
    border-bottom: none;
  }
}
.main-about-nav--open {
  @media (max-width: 830px) {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: $basic-hover;
    color: $basic-black;
    z-index: 80;
  }
}
.main-about-nav__item {
  margin-right: 15px;
  padding: 10px 10px;
  cursor: pointer;
  font-family: "Merel Light";
  transition: background-color .3s;

  &--active {
    background-color: $basic-green;
    color: $basic-white;

    @media (max-width: 830px) {
      background-color: transparent;
      color: $basic-black;
    }
  }

  @media (max-width: 830px) {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-right: 0;
  }
}
.main-about-slider {
  position: relative;
  margin-top: 85px;
  display: block;
  min-height: 120px;
  visibility: hidden;
  position: absolute;
  z-index: -100;
  overflow: visible;
  width: 100%;
  left: 0;

  &--active {
    visibility: visible;
    position: static;
    z-index: 1;
  }
}
.slider-list--about {
  display: block;
}
.main-about-slider .slider-list-item {
  min-height: auto;
  flex: 1 1 auto;
}
.main-about-slider .slider-list-item__img {
  width: auto;
}
.main-about-slider .slider-btn {
  background: transparent;

  & i {
    color: $basic-font-grey;
  }
}
.main-about-slider .slider-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.slider-list-item__header {
  color: $basic-font-grey;
}
@media (max-width: 830px) {
  .main-about-nav__item:not(.main-about-nav__item--active) {
    display: none;
  }

  .main-about-nav--open .main-about-nav__item {
    display: block;
  }
}
.about-left,
.about-right{
  position: absolute;

  top: 50%;
  background-color: transparent;
  border: none;
  color: $basic-font-grey;
  outline: none;
  cursor: pointer;
  z-index: 70;

  &:hover > i {
    color: $basic-green;
  }

  @media (max-width: 420px) {
    visibility: hidden;
  }
}
.about-left {
  left: 0;
}
.about-right  {
  right: 0;
}
.slick-slide {
  float: left;
  height: auto;
}
.slick-dots {
  position: absolute;
  bottom: 0px;
  left: 25%;
  display: flex;
  list-style: none;
}
.slick-dots li button {
  width: 10px;
  height: 10px;
  border: none;
  color: transparent;
  margin-right: 10px;
  border-radius: 50%;
  cursor: pointer;

  @media (min-width: 420px) {
    display: none;
  }
}
.slick-active  button{
  background-color: $basic-green;
  outline: none;
}
.main-about-dropdown {
  position: relative;
  text-align: left;

  @media (max-width: 420px) {
    text-align: left;
  }
}
.main-about-dropdown__current {
  position: relative;
  display: none;
  cursor: pointer;
  padding-left: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: $basic-hover;
  font-family: "Merel Bold";
  font-size: 18px;

  &:after {
    position: absolute;
    display: block;
    content: "\f0d7";
    font-family: "Font Awesome";
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: $basic-black;
  }


  @media (max-width: 830px) {
    display: block;
  }
}
