.main-summary {
  margin-bottom: 0;
  position: relative;
  background-image: url('../img/main-summary-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 130px;
  padding-bottom: 116px;
  text-align: center;
  color: $basic-white;

  &:after {
    display: block;
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    opacity: 0.6;
    z-index: 5;
  }
}
.main-summary-wrapper {
  position: relative;
  z-index: 50;
}
.main-summary__header {
  margin-top: 0;
  margin-bottom: 134px;
  font-family: "Merel Thin";
  font-size: 31px;
  text-transform: uppercase;
}
.main-summary-info {
  padding-right: 12%;
  padding-left: 10%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 110px;
}
.main-summary__link {
  @include link-green;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: transparent;
  border: 1px solid $basic-white;
  z-index: 10;
  margin: auto;
}
.main-summary__background {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: #000;
  opacity: 0.6;
  z-index: 0;
}
.item:nth-of-type(2) {
  margin-left: 155px;
  margin-right: 172px;
}
.item__number {
  margin-bottom: 10px;
  font-family: "Merel Bold";
  font-size: 72px;
}
.item__text {
  font-family: "Merel Light";
  font-size: 18px;
}
