.nav {
  border-top: 1px solid $basic-font-grey;
}
.nav-list {
  @include list-reset;
  display: flex;
  justify-content: flex-start;
  max-width: 1360px;
  margin: auto;
}
.nav-list-item {
  margin-right: 11.8em;

  &:last-of-type {
    margin-right: 0;
  }
}
.nav-list-item__link {
  @include reset-link;
  display: block;
  padding-top: 25px;
  padding-bottom: 25px;
  text-transform: uppercase;
}
