.nav {
  border-top: 1px solid $basic-hr-border;
  padding-left: 10px;
  padding-right: 10px;

  &--catalog, &--card {
    border-bottom: 1px solid $basic-hr-border;
  }


  @media (max-width: 830px) {
    position: relative;
    border-top: none;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
.nav-list {
  @include list-reset;
  display: flex;
  justify-content: space-between;
  max-width: 1360px;
  margin: auto;
  transition: transform .2s;

  @media (max-width: 830px) {
    display: none;
    transform: translate(-100%);
  }
}
.nav-list-item {

  @media(max-width: 830px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    flex: 1 1 auto;
  }

  @media (min-width: 830px) {
    &:hover > a > i{
      transform: rotate(180deg);
    }
  }
  & > a {
    transition: color .3s;
  }
  &:hover > a {
    color: $basic-green;
  }
  & a > i {
    transition: transform .3s;
    transform-origin: 76%;
  }
  &:hover {
    color: $basic-green;
  }
  &:hover {
    @media(max-width: 830px) {
      background-color: $basic-hover;
    }
  }

  &--active {
    color: $basic-green;

    & > a {
      color: $basic-green;
    }
    & > a > i {
      transform: rotate(180deg);
    }
  }
}
.nav-list-item--logo-link {
  flex: 0 0 auto;


  &:hover {
    @media (max-width: 830px) {
      background-color: transparent;
    }
  }
}
.nav-list-item:nth-of-type(2) {
  margin-left: -10px;
}
.nav-list-item--sticky {
  display: none;
}
.nav-list-item--city {
  display: none;
  @media (max-width: 830px) {
    display: block;
    cursor: auto;
    padding-right: 10px;
    padding-left: 10px;

    &:hover {
      background-color: $basic-white;
    }

    & .city-dropdown-item {
      display: flex;
      flex-direction: column;
      padding-top: 10px;
      padding-bottom: 10px;
      border-top: 1px solid $basic-font-grey;
    }
    & .city-dropdown-item__time {
      margin-bottom: 20px;
    }
    & .city-dropdown-item__adr span:first-child{
      font-family: "Merel Bold";
      text-transform: uppercase;
      color: $basic-green;
    }
    & .city-dropdown-item__adr span:last-child {

    }
    & .city-dropdown-item__contacts {
      display: flex;
      flex-direction: column;

      & span:first-child {
        font-family: "Merel Bold";
      }
    }
  }
}
.nav-list-item--has-sub {
  position: relative;

  &:before {
    display: none;
    position: absolute;
    content: '';
    top: 50%;
    right: -20px;
    margin-top: -5px;
    border: 6px solid transparent;
    border-top: 6px solid $basic-font-grey;
    border-radius: 3px;
    transition: opacity .3s;
    transition-delay: .2s;
    @media (max-width: 830px) {
      display: none;
    }
  }

  &:hover > .submenu {
    display: block;
    z-index: 100;
    @media (max-width:830px) {
      display: none;
    }
  }
}
.nav-list-item__logo {
  display: none;
  @media (max-width: 830px) {
    display: block;
    margin-bottom: 10px;
  }

  @media (max-width: 420px) {
    width: 70%;
  }
}
.nav-list-item__link {
  @include reset-link;
  display: block;
  padding-top: 23px;
  padding-bottom: 20px;
  text-transform: uppercase;

  @media (max-width: 830px) {
    align-self: center;
  }
}
.submenu {
  @include list-reset;
  position: absolute;
  display: none;
  visibility: visible;
  top: 100%;
  left: -25px;
  z-index: -90;
  background-color: $basic-white;
  padding: 12px;
  width: 290px;
  border-top: 2px solid $basic-green;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  @media (max-width: 830px) {
    position: static;
    display: block;
    flex-direction: column;
    width: auto;
    max-height: 0;
    padding: 0;
    border-top: none;
    overflow: hidden;
    transition: max-height .2s;
    box-shadow: inset 0px 2px 8px 0px rgba(0,0,0,0.37),
                inset 0px -2px 8px 0px rgba(0,0,0,0.37);;

    & .submenu-item__link {
      font-size: 14px;
      text-transform: uppercase;
    }
  }
}
.submenu-show {
  display: flex;
}
.submenu-item__link {
  @include reset-link;
  padding: 12px 10px;
  font-family: "Merel";
  font-size: 14px;transform-origin: 80%;
  display: block;
  transition: background-color .2s, color .2s;

  &:hover {
    background-color: $basic-hover;
    color: $basic-green;
  }
}
.nav-toggle {
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: none;
  outline: none;

  @media (max-width: 830px) {
    display: block;
  }
}
.nav-toggle--open {
  & .nav-toggle__decor:before {
    opacity: 0;
  }
  & .nav-toggle__decor:nth-of-type(1) {
    transform: translateY(10px) rotate(45deg);
  }
  & .nav-toggle__decor:nth-of-type(2) {
    opacity: 0;
  }
  & .nav-toggle__decor:nth-of-type(3) {
    transform: translateY(-12px) rotate(-45deg);
  }
}
.nav-toggle__decor {
  position: relative;
  display: block;
  width: 23px;
  height: 2px;
  margin-bottom: 9px;
  background-color: $menu-toggle;
  transition: opacity .3s, transform .3s;

  &:before {
    position: absolute;
    display: block;
    content: '';
    width: 6px;
    height: 6px;
    top: 50%;
    left: -10px;
    margin-top: -4px;
    border-radius: 50%;
    border: 1px solid $menu-toggle;
    transition: opacity .3s;
  }
}
.nav-open {
  position: absolute;
  display: block;
  top: 100%;
  right: 0;
  left: 0;
  background-color: $basic-white;
  border-top: 1px solid $basic-font-grey;
  text-align: center;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transform: translate(100%);
  animation-name: nav-open;
  animation-duration: .5s;
  animation-fill-mode: forwards;
  z-index: 100;


  @media(min-width: 830px) {
    display: flex;
    position: static;
    top: auto;
    left: auto;
    right: auto;
    box-shadow: none;
    border-top: none;
  }

  .nav-list-item--city:hover {
    color: $basic-black-btn;
  }
}

.nav-open .nav-list-item--has-sub:hover > .submenu {
  display: block;
}
.nav-open .fa--custom {
  position: absolute;
}
.fa--custom {
  padding-left: 10px;
}

@keyframes nav-open {
  from {
    transform: translate(100%);
  } to {
    transform: translate(0%)
      }
}
