.page-footer-top {
  background-image: url('../img/page-footer-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 101px;
  padding-bottom: 93px;
  color: white;
}
.page-footer__support {
  display: flex;
  flex-direction: column;
  margin-right: 35px;
}
.support-list {
  margin-top: auto;
}
.support__link {
  margin-top: auto;
}
.support__header {
  margin: 0;
  font-family: "Merel Light";
  font-size: 30px;
  text-transform: uppercase;
}
.support-list {
  @include list-reset;
  margin-top: 74px;
  margin-bottom: 103px;
}
.support-list-item {
  margin-bottom: 18px;
}
.support-list-item__link {
  font-family: "Merel";
  font-size: 16px;
  color: $basic-white;
}
.support__link {
  @include link-green;
  width: 339px;
  background-color: $basic-black-btn;
  padding-top: 19px;
  padding-bottom: 15px;
}
