.page-footer-top {
  background-image: url('../img/page-footer-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 101px;
  padding-bottom: 93px;
  color: white;

  @media (max-width: 768px) {
    padding-top: 75px;
    padding-bottom: 80px;
  }
}
.page-footer__support {
  display: flex;
  flex-direction: column;
  margin-right: 35px;

  @media (max-width: 420px) {
    margin-right: 0;
  }
}
.support-list {
  margin-top: auto;
}
.support__link {
  margin-top: auto;
  transition: box-shadow .3s, color .3s;

  &:hover{
    color: $basic-green;
    box-shadow: -3px 3px 61px -11px $basic-black;
  }
}
.support__header {
  margin: 0;
  font-family: "Merel Light";
  font-size: 30px;
  text-transform: uppercase;
}
.support-list {
  @include list-reset;
  margin-top: 74px;
  margin-bottom: 103px;

  @media (max-width: 1024px) {
    margin-top: 44px;
    margin-bottom: 53px;
  }
}
.support-list-item {
  margin-bottom: 18px;
}
.support-list-item__link {
  font-family: "Merel";
  font-size: 16px;
  color: $basic-white;
}
.support__link {
  @include link-green;
  width: 339px;
  background-color: $basic-black-btn;
  padding-top: 19px;
  padding-bottom: 15px;

  @media (max-width: 420px) {
    width: 100%;
  }
}
