.page-header {
  position: relative;
  width: 100%;
  background-color: $basic-white;
  font-family: "Merel", "Arial", sans-serif;
  font-size: 16px;
  z-index: 100;
  
  @media (max-width: 1024px) {
    position: fixed;
  }
}
.page-header-logo {
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}
.page-header-logo > a:focus {
  outline: none;
}
.page-header__slogan {
  font-family: "Merel Light", "Arial", sans-serif;
  margin-left: 56px;
  font-size: 14px;
  color: $basic-font-grey;
  
  @media (max-width: 1024px) {
    display: none;
  }
}
.page-header-info {
  font-family: "Merel", "Arial", sans-serif;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  color: $basic-black;
}
.page-header-phone {
  font-family: "Merel", "Arial", sans-serif;
  font-size: 18px;
  text-align: right;
  color: $basic-black;
}
.page-header-phone__item span {
  font-size: 21px;
}
.page-header-city {
  margin-top: 14px;
  margin-left: 83px;
  font-family: "Merel Bold", "Arial", sans-serif;
  text-align: left;
  text-transform: uppercase;
  color: $basic-green;
}
.page-header-top-container {
  align-items: center;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 14px;
  
  @media (max-width: 1024px) {
    & > *:not(.page-header-logo) {
      display: none;
      padding-top: 5px;
      padding-bottom: 5px;
    }
    
    & .nav-toggle {
      display: block;
    }
  }
}
.page-header-top-container-decor {
  display: none;
}
.page-header-decor-container {
  border-top: 1px solid $basic-hr-border;
  border-bottom: 1px solid $basic-hr-border;
}
@media (max-width: 1080px) {
  .page-header-top-container > *[class^="page-header"] {
    margin-left: 0;
    margin-right: 0;  
  }
}

.card .page-header-nav {
  border-bottom: 1px solid $basic-hr-border;
}
.page-header-phone-common {
  font-family: "Merel", "Arial", sans-serif;
  font-size: 18px;
  color: $basic-black;

}
.common-phone {
  font-size: 21px;
}
