.page-breadcrumbs {
  @include list-reset;
  display: flex;
  margin-top: 25px;
  
  &--category {
    position: absolute;
    top: 0;
    left: 9%;
    z-index: 20;
  }
}
.page-breadcrumbs-item {
  font-size: 14px;
  padding-right: 4px;
}
.page-breadcrumbs-item__link {
  @include reset-link;
  font-family: "Merel Light";

  &--active {
    text-decoration: underline;
  }
}
.fa--breadcrumbs {
  color: $basic-font-grey;
}