.select-panel {
  padding-top:  44px;
  background-color: $basic-black-btn;
  color: $basic-white;
  border-bottom: 2px solid $basic-green;
  margin-bottom: 68px;
}
.select-panel__header {
  margin: 0;
  margin-bottom: 40px;
  font-family: "Merel Light";
  font-size: 31px;
  text-transform: uppercase;
}
.select-panel-list {
  @include list-reset;
  @include flex-row;
}
.select-panel-list__item {
  margin-right: 10px;
  cursor: pointer;
}
.select-panel-list__item label{
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 35px;
  padding-right: 35px;
  cursor: pointer;
  font-size: 16px;
}
.select-panel-list__item input[type='radio']{
  display: none;
}
.select-panel-list__item input[type='radio']:checked ~ label {
  background-color: $basic-green;
  color: $basic-white;
}
