.select-panel {
  padding-top:  44px;
  background-color: $basic-black-btn;
  color: $basic-white;
  border-bottom: 2px solid $basic-green;
  margin-bottom: 68px;

  @media (max-width: 830px) {
    border-bottom: none;
    padding-bottom: 44px;
  }
}
.select-panel__header {
  margin: 0;
  margin-bottom: 40px;
  font-family: "Merel Light";
  font-size: 31px;
  text-transform: uppercase;
}
.select-panel-list {
  @include list-reset;
  @include flex-row;

  @media (max-width: 830px) {
    display: none;
  }
}
.select-panel-list__item {
  margin-right: 10px;
  padding: 10px 15px;
  cursor: pointer;

  &--active {
    background-color: $basic-green;
  }
  &:hover {
    @media (max-width: 830px) {
      background-color: $basic-hover;
      margin-right: 0;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }
  @media(max-width: 830px) {
    color: $basic-black;
    margin-right: 0;
  }
}
.select-panel-dropdown {
  position: relative;

  @media (max-width: 830px) {
    border: 1px solid $basic-green;
    border-radius: 5px;
  }
}
.select-panel-dropdown__selected {
  display: none;
  cursor: pointer;

  @media (max-width: 830px) {
    display: block;
    padding: 10px 15px;
  }
}
@media (max-width: 830px) {
  .select-panel-list__item--active {
    background-color: transparent;
  }
}
@media (max-width: 830px) {
  .select-panel-dropdown--open {
    border-bottom: none;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .select-panel-dropdown--open .select-panel-list {
    display: block;
    width: 100%;
    position: absolute;
    top: 100%;
    left: -1px;
    background-color: $basic-white;
    border: 1px solid $basic-green;
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .select-panel-dropdown--open .select-panel-dropdown__selected {
    background-color: $basic-white;
    color: $basic-black;
    border-bottom: 1px solid $basic-hr-border;
  }
}
