.slider {
  @include list-reset;
  position: relative;
  overflow: hidden;
  list-style: none;
  margin-bottom: 84px;
}
.slider-btn {
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -29px;
  width: 58px;
  height: 58px;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  z-index: 80;
  cursor: pointer;
  transition: opacity .2s, background-color .2s;

  &:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }

  &--next {
    left: auto;
    right: 0;
  }

  &--next:after {
  }

  & i {
    position: relative;
    opacity: 1;
    z-index: 100;
    color: $basic-white;
  }

  @media (max-width: 768px) {
    top: auto;
    bottom: 5%;
    width: 34px;
  }
}
.slider-list {
  @include list-reset;
  display: flex;
  transition: transform .3s;
}
.slider-list--bg .slider-list-item:before {
  position: absolute;
  display: block;
  content: '';
  top: 0;
  bottom: 0;
  width: 44%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;

  @media (max-width: 830px) {
    width: 60%;
  }

  @media (max-width: 768px) {
    width: 100%;
  }
}
.slider-list-item {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex: 1 0 100%;
  overflow: hidden;
  max-height: 654px;
  min-height: 574px;

  @media (max-width: 752px) {
    min-height: 575px;
  }

  @media (max-width: 320px) {

  }


}
.sliders-list__item[data-block-type] {
  display: none;
}
.main-about-sliders .slider-list-item {
  flex: 0 0 56px;
}
.main-about-sliders .slider-list {
  justify-content: space-between;
  margin-bottom: 10px;
}
.slider-list-item__img {
  width: 100%;
  height: auto;

  @media (max-width: 1178px) {
    width: auto;
  }
  @media (max-width: 460px) {
    width: 100%;
  }
}
.info-wrapper {
  width: 1360px;
  margin: auto;

  @media (max-width: 1360px) {
    width: auto;
    max-width: 1360px;
  }
  @media (max-width: 420px) {
    padding-left: 5px;
    padding-right: 5px;
  }
}
.slider-list-item__info {
  width: 40%;
  padding-top: 9%;
  padding-bottom: 9.2%;
  margin-right: auto;
  position: relative;
  z-index: 80;
  color: $basic-white;

  @media (max-width: 1500px) {
    padding-left: 60px;
  }

  @media (max-width: 768px) {
    padding-left: 0;
    width: 100%;
    text-align: center;
  }
}
.slider-info__header {
  margin: 0;
  width: 100%;
  font-family: "Merel Bold";
  text-transform: uppercase;
  font-size: 62px;

  @media (min-width: 1360px) {
    margin-bottom: 43px;
  }

  @media (max-width: 1200px) {
    font-size: 52px;
  }

  @media (max-width: 1027px) {
    font-size: 42px;
  }

  @media (max-width: 768px) {
    text-align: center;
    margin-bottom: 35px;
  }

  @media (max-width: 420px) {
    width: 100%;
    text-align: left;
  }
}
.slider-info__text {
  width: 80%;
  margin-bottom: 80px;
  font-family: "Merel";
  font-size: 18px;

  @media (max-width: 1200px) {
    font-size: 17px;
    margin-bottom: 8%;
  }

  @media (max-width: 768px) {
    width: 80%;
    margin: auto;
    margin-bottom: 35px;
  }

  @media (max-width: 420px) {
    width: 100%;
    text-align: left;
  }
}
.slider-info__link {
  @include link-green;
  width: 240px;
  z-index: 40;
  transition: box-shadow .2s;

  &:hover {
    box-shadow: -3px 3px 61px -11px $basic-green-shadow;
  }
  &:active {
    box-shadow: none;
  }

  @media (max-width: 1027px) {
    width: 234px;
    padding-top: 16px;
    padding-bottom: 13px;
  }
  @media (max-width: 768px) {
    margin: auto;
  }
  @media (max-width: 420px) {
    width: 100%;
  }
}
.slider-image-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 5;
}
.slider-indicators {
  @include list-reset;
  display: flex;
  position: absolute;
  left: 13.8%;
  bottom: 10%;
  z-index: 80;

  @media (max-width: 768px) {
    left: 50%;
    margin-left: -36px;
  }
}
.slider-indicators__item {
  width: 12px;
  height: 12px;
  background-color: $basic-slider-indicators;
  margin-right: 15px;
  cursor: pointer;

  &--active {
    background-color: $basic-green;
  }
}
.slider-main--category .slider-list-item__info,
.slider-main--cones .slider-list-item__info{
  padding-top: 4%;
}
.slider-main--cones {
  margin-bottom: 0;

  @media (max-width: 1024px) {
    .slider-image-wrapper img {
      width: auto;
      transform: translate(-50%);
    }
  }
}
