.slider {
  @include list-reset;
  position: relative;
  overflow: hidden;
  list-style: none;
  margin-bottom: 84px;
}
.slider-btn {
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -29px;
  width: 58px;
  height: 58px;
  background-color: rgba(0, 0, 0, 0.2);
  border: none;
  z-index: 10;
  cursor: pointer;
  transition: opacity .2s;

  &:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }

  &--next {
    left: auto;
    right: 0;
  }

  &--next:after {
  }

  & i {
    position: relative;
    opacity: 1;
    z-index: 100;
    color: $basic-white;
  }
}
.slider-list {
  @include list-reset;
  display: flex;
  transition: transform .3s;

  &--about {
    padding-left: 5%;
    padding-right: 5%;
  }

}
.slider-list-item {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex: 1 0 100%;
  max-height: 654px;
}
.sliders-list__item[data-block-type] {
  display: none;
}
.main-about-sliders .slider-list-item {
  flex: 0 0 56px;
}
.main-about-sliders .slider-list {
  justify-content: space-between;
  margin-bottom: 10px;
}
.slider-list-item__img {
  width: 100%;
  height: auto;
}
.slider-list-item__info {
  position: absolute;
  left: 0;
  height: 100%;
  width: 40%;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.5);
  padding-left: 120px;
  padding-top: 5%;

  @media (min-width: 1360px) {
    padding-top: 120px;
    width: 640px;
  }
}
.slider-info__header {
  margin: 0;
  width: 100%;
  font-family: "Merel Bold";
  text-transform: uppercase;
  font-size: 60px;

  @media (min-width: 1360px) {
    margin-bottom: 50px;
  }

  @media (max-width: 1200px) {
    font-size: 52px;
  }

  @media (max-width: 1027px) {
    font-size: 42px;
  }
}
.slider-info__text {
  width: 80%;
  margin-bottom: 80px;
  font-family: "Merel";
  font-size: 18px;

  @media (max-width: 1200px) {
    font-size: 17px;
    margin-bottom: 8%;
  }
}
.slider-info__link {
  @include link-green;

  @media (max-width: 1027px) {
    width: 234px;
    padding-top: 16px;
    padding-bottom: 13px;
  }
}
