.header-sticky {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 90;
  background-color: $basic-white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  & .page-header__sticky-flex {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 1360px;
    margin: auto;
  }

  & .page-header-logo {
	display: none;
  }
  & .page-header__slogan {
	display: none;
	order: 1;
  }
  & .page-header-info {
	display: none;
  }
  & .page-header-phone {
    display: flex;
    margin-top: 18px;
    margin-left: auto;

    & .page-header-phone__item {
      margin-right: 10px;
    }
  }
  & .page-header-city {
    display: none;
  }
  & .city__header {
    display: flex;
    padding-top: 5px;

    & i {
      top: 0;
    }
  }
  & .city__header > span:first-child  {
    display: none;

  }
  & .page-header-nav {
    border-top: none;
    display: flex;
    flex: 0 1 70%;
  }
  & .container-flex {
    max-width: none;
    margin: 0;
    flex-grow: 1;
    flex-shrink: 0;
    margin-left: auto;
  }

  & .nav {
    border-bottom: none;
  }
  & .nav-list {
    flex-grow: 1;
    justify-content: space-between;
  }
  & .nav-list-item {
    font-size: 12px;
    @media (max-width: 830px) {
      font-size: 14px;
    }
  }
  & .nav-list-item__logo {
    display: block;
    margin-top: 7px;
    margin-right: 75px;
  }
  & .submenu {
    z-index: -50;
  }
}
@media (max-width: 1080px) {
  .header-sticky {
    & .page-header-phone {
      display: none;
    }
    & .page-header-phone {
      margin-right: 15px;
    }
    & .nav-list-item:first-of-type() {
      margin-right: auto;
    }
    & .nav-list-item__logo {
      margin-right: 8px;
    }
    & .page-header-city {
      margin-left: 5px;
    }
    & .city__header:after {
      right: -15px;      
    }
    & .page-header-nav {
      flex-grow: 1;
    }
    & .container-flex {
      padding: 0;
    }
    & .city-dropdown {
      right: -40%;
      left: auto;
    }
  }
}
